Makefile.in
Makefile
SensorsApplet.server
SensorsApplet.server.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.sub
config.status
configure
stamp-h1
intltool-update
intltool-merge
intltool-extract
htdocs
*.tar.gz
